/*.one {
    grid-column-start: 1;
    grid-column-end: 3;
grid-column: 1/3;
}

.two {
    grid-column: 3/7;
}

.three {
    grid-column: 1/4;
    grid-row: 2/4;
}

.four {
    grid-column: 4/7;
    grid-row: 2/4;
}

.five {
    grid-column: 3/7;
}

.six {
    grid-column: 1/3;
    grid-row: 4/5;
}

.four {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-column: span 3;
}

.four p {
    border: 1px solid white;
    padding: 5px;
    margin: 5px;
    ;
}*/